body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    scroll-behavior: smooth;
  }

  .nav-logo {
    height: 80px;
    width: auto;
  }
  
  header {
    background-color: darkslategrey;
    border-radius: 20px;
    padding: 1rem 0;
    box-shadow: 0 0 5px rgb(0, 238, 255);
  }
  
  .navbar {
    overflow: hidden;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
  }
  
  .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
  }
  .navbar a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
  }
  @media screen and (max-width: 600px) {
    .navbar a {
      font-size: 13px; 
      padding: 10px; 
    }
  }
  

  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .left {
    color: white;
    width: 50%;
    z-index: 5;
    text-align: left;
    font-size: 25px;
    text-transform: capitalize;
  }
  
  .hello {
    font-size: 20px;
  }
  
  .multitext {
    color: skyblue;
  }
  
  .right {
    float: right;
    width: 50%;
    text-align: right;
    z-index: 5;
  }
  
  .right img {
    position: relative;
  }
  @media only screen and (max-width: 600px) {
    .home {
      flex-direction: column;
      text-align: center;
    }
  
    .left, .right {
      width: 100%;
    }
  
    .left {
      font-size: 20px; 
    }
  
    .right img {
      max-width: 100%; 
    }
  }
  

  .about{
    color: white;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
  }
  .abt{
    text-align: center;
    text-shadow:1px 1px 10px rgb(0, 255, 242);
    font-size: 25px;
  }
 .skill-heading{
   color: white;
   text-align: center;
   font-size: 25px;
   text-shadow:1px 1px 5px rgb(0, 255, 242);
 }
 .skill-section p{
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}
.skills img{
  padding: 0.2rem;
  margin: 3.5rem;
  margin-right: 0px;
  width: 15%;
}
.pjs-title h1{
  color: white;
  text-align: center;
  font-size: 25px;
  text-shadow:1px 1px 5px rgb(0, 255, 242);
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  align-items: center;
}
.card{
  position: relative;
  margin-top: 2rem;
  width: 200px;
  height: auto;
  border-color: aliceblue solid;
  display: flex;
  padding: 10px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 3px 4px white;
  transition: box-shadow 0.3s easy;
}
.card:hover {
    box-shadow: 0 0 10px  rgb(0, 252, 176);
    transform:scale(1.1);
  
}


.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.card h2 {
  font-size: 1.2rem;
  color: orangered;
}
.card h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
  color: white;
}

.card .bx:hover {
  background: #ffa400;
}
.view-button{
  display: inline-block;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  transition: box-shadow 0.3s easy;
}
.view-button:hover {
  background: #ffa400;
  box-shadow: 0 0 8px  rgb(0, 252, 176);
}


.contact h1{
  text-align: center;
  font-size: 30px;
  color: orange;
}
.contact h2{
  text-align: center;
  font-size: 20px;
  color:white;
}
.logobtn{
  text-align: center;
}

.cnt-btn img{
  width: 50px; 
  height: auto;
}
.cnt-btn img:hover{
  transform: scale(1.1);
}
footer p{
  text-align: center;
  color: darkgray;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.right::before {
  position: absolute;
  content: '';
  height: 600px;
  width: 600px;
  border-radius: 50%;
  left: 50%;
  top: 30%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: object1 6s linear infinite;
}

@keyframes object1 {
  50% {
    left: 48%;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 5%;
  }

  .right::before {
    height: 400px; 
    width: 400px;
    left: 5%;
    top: 55%;
  }

  @keyframes object1 {
    50% {
      left: 10%; 
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 5%;
  }

  .right::before {
    height: 400px; 
    width: 400px;
    left: 10%;
    top: 60%;
  }

  @keyframes object1 {
    50% {
      left: 15%; 
    }
  }
}
