body {
  font-family: Arial, sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  border-radius: 20px;
}
section {
  padding: 50px 10%;
}

  header {
    position: fixed;
    background-color: darkslategrey;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1050;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.137);
  }
  header :hover{
    box-shadow: 0px 0px 5px white;
  }
  .logo {
    font-size: 25px;
    text-decoration: solid;
    font-weight: 800;
    font-family: "Courgette", "cursive";
    background: linear-gradient(9deg,rgb(0, 255, 242),rgb(251, 255, 5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    position: relative;
    padding: 0 15px;
  }
  
  
.logo::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid orangered;
  border-left: 3px solid orangered;
  bottom: 0;
  left: 0;
}
.logo::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 3px solid orangered;
  border-right: 3px solid orangered;
  top: 0;
  right: 0;
}
  
  .navbar {
    display: flex;
    border-radius: 20px;
  }
 
  .navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
  }
  .navbar a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 242);
  }
  #menu-icon {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    section {
      padding: 50px 8%;
    }
    #menu-icon {
      display: initial;
      color: white;
    }
    header .navbar {
      position: absolute;
      top: 50px;
      right: 10px;
      left: -100%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
      transition: left 0.2s ease;
    }
    .navbar.active {
      left:0;
    }
    .navbar a {
      padding: 1.5rem;
      display: block;
      background-color: black;
      background: transparent;
      backdrop-filter: blur(50px);
    }
  }

  .home {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .left {
    color: white;
    width: 50%;
    z-index: 5;
    text-align: left;
    font-size: 25px;
    text-transform: capitalize;
  }
  
  .hello {
    font-size: 20px;
  }
  
  .multitext {
    color: skyblue;
  }
  
  .right {
    float: right;
    width: 50%;
    text-align: right;
    z-index: 5;
  }
  
  .right img {
    position: relative;
    background-color:#34ebab;
    border-radius:17%;
    width: 60%;
  }
  .right img:hover{
    box-shadow: 2px 2px 10px white;
  }
  @media (max-width: 768px) {
    .home {
      flex-direction: column;
      text-align: center;
    }
  
    .left, .right {
      width: 100%;
    }
  
    .left {
      font-size: 20px; 
    }
  
    .right img {
      max-width: 100%; 
    }
  }
  

  .about{
    color: white;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
  }
  .abt h2{
    text-align: center;
    text-shadow:1px 1px 10px rgb(0, 255, 242);
    font-size: 35px;
    margin-bottom: 30px;
  }
 

 .skill-heading{
   color: white;
   text-align: center;
   font-size: 25px;
   text-shadow:1px 1px 5px rgb(0, 255, 242);
 }
 .skill-section p{
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}
.skills img{
  padding: 0.2rem;
  margin: 3.5rem;
  margin-right: 0px;
  width: 15%;
}
.skills img:hover{
  box-shadow: 0px 0px 5px white;
}

#Resume {
  padding: 50px 0;
}
#Resume h1{
  color: white;
 text-align: center;
 font-size: 30px;
 margin-bottom: 10px;
 text-shadow:1px 1px 5px rgb(0, 255, 242);
}
.Resume {
  display: flex;
  justify-content: space-between;
}

.left-2 {
  flex: 1;
  margin: 5px;
}

.right-2 {
  flex: 1;
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .Resume{
    flex-direction: column;
    text-align: center;
  }

  .left-2, .right-2 {
    width: 100%;
  }

}

.block {
  background-color: black;
  border-radius: 8px;
  box-shadow: 2px 8px 10px rgba(255, 255, 255, 0.596);
  padding: 20px;
  margin-bottom: 20px;
}

.block-title {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.block-title h3 {
  color: orangered;
  text-align: center;
  font-size: 25px;
}

/* Timeline Styles */
.timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.item-title {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.item-period {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.item-small {
  color: #666;
  font-size: 14px;
}

.item-description {
  color: rgba(255, 255, 255, 0.74);
  font-size: 16px;
  line-height: 1.6;
}

.timeline{
  border-left: 1px solid #fe4f6c;
  padding: 15px 0;
  border-radius: 0;
}
.timeline-item{
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #f6f7fe;
  border-left: 2px solid #4ffefe;
  transition: 0.3s ease-in-out;
}
.timeline-item:last-child{
margin-bottom: 0;
}
.timeline-item:before{
	content: '';
	display: inline-block;
	position: absolute;
	background-color: #fff;
	border-radius: 10px;
	width: 12px;
	height: 12px;
	top: 20px;
	left: -29px;
	border: 2px solid #fe4f6c;
	z-index: 2;
}
.timeline-item:after{
	content: '';
	display: inline-block;
	position: absolute;
	background-color: #fe4f6c;
	border-radius: 10px;
	width: 29px;
	height: 2px;
	top: 25px;
	left: -29px;
	z-index: 1;
}
.timeline-item .item-title{
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1.2em;
  color: #fff;
}
.timeline-item .item-period{
	display: inline-block;
	font-size: 12px;
	line-height: 1.2em;
	color: #fe4f6c;
	margin-bottom: 8px;
}
.timeline-item .item-small{
	display: inline-block;
	font-size: 12px;
	line-height: 1.2em;
	color:red;
	margin-left: 5px;
	margin-bottom: 8px;
	padding-left: 8px;
	border-left: 1px solid #e0e0e0;
}

.pjs-title h1{
  color: white;
  text-align: center;
  font-size: 25px;
  text-shadow:1px 1px 5px rgb(0, 255, 242);
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  align-items: center;
}
.card{
  position: relative;
  margin-top: 2rem;
  width: 200px;
  height: auto;
  border-color: aliceblue solid;
  display: flex;
  padding: 10px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 3px 4px white;
  transition: box-shadow 0.3s easy;
}
.card:hover {
    box-shadow: 0 0 10px  rgb(0, 252, 176);
    transform:scale(1.1);
  
}


.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.card h2 {
  font-size: 1.2rem;
  color: orangered;
}
.card h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
  color: white;
}

.card .bx:hover {
  background: #ffa400;
}
.view-button{
  display: inline-block;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
  transition: box-shadow 0.3s easy;
}
.view-button:hover {
  background: #ffa400;
  box-shadow: 0 0 8px  rgb(0, 252, 176);
}


.contact h1{
  text-align: center;
   margin-bottom: 10px;
  font-size: 30px;
  color: orange;
}
.contact h2{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color:white;
}
.logobtn{
  text-align: center;
}

.cnt-btn img{
  width: 50px; 
  height: auto;
}
.cnt-btn img:hover{
  transform: scale(1.1);
}
footer p{
  text-align: center;
  color: darkgray;
}
